$text-transform: true !default;

$text-transform__list: (capitalize, uppercase, lowercase, none) !default;

$text-transform__include--inherit: true !default;
$text-transform__selector-prefix: 'text-transform--' !default;


$text-transform__pseudo-class--hover: false !default;
$text-transform__pseudo-class--hover-suffix: '--hover' !default;
$text-transform__pseudo-class--active: false !default;
$text-transform__pseudo-class--active-suffix: '--active' !default;
$text-transform__pseudo-class--focus: false !default;
$text-transform__pseudo-class--focus-suffix: '--focus' !default;
