$text-align__special-case: (
    inherit: $text-align__include--inherit
);

@mixin text-align--statement-generator($name) {
    #{th-text-align--selector-generator($name)} {
        text-align: $name !important;
    }

    @each $pseudo-class, $bool, $suffix in $text-align__pseudo-class {
        @if $bool {
            #{th-text-align--selector-generator($name, $suffix)} {
                #{$pseudo-class} {
                    text-align: $name !important;
                }
            }
        }
    }
}

@mixin text-align--extend($name) {
    @extend #{th-text-align--selector-line-generator('%', $name)};
}
