$text-align: true !default;

$text-align__list: (left, right, center, justify) !default;

$text-align__include--inherit: true !default;
$text-align__selector-prefix: 'text-align--' !default;


$text-align__pseudo-class--hover: false !default;
$text-align__pseudo-class--hover-suffix: '--hover' !default;
$text-align__pseudo-class--active: false !default;
$text-align__pseudo-class--active-suffix: '--active' !default;
$text-align__pseudo-class--focus: false !default;
$text-align__pseudo-class--focus-suffix: '--focus' !default;
