$font-variant: true !default;

$font-variant__list: (normal, small-caps) !default;

$font-variant__include--inherit: true !default;
$font-variant__selector-prefix: 'font-variant--' !default;


$font-variant__pseudo-class--hover: false !default;
$font-variant__pseudo-class--hover-suffix: '--hover' !default;
$font-variant__pseudo-class--active: false !default;
$font-variant__pseudo-class--active-suffix: '--active' !default;
$font-variant__pseudo-class--focus: false !default;
$font-variant__pseudo-class--focus-suffix: '--focus' !default;
