@import 'functions';
@import 'mixins';

$font-variant__special-case: (
    inherit: $font-variant__include--inherit
);

$font-variant__pseudo-class: (
    ('&:hover', $font-variant__pseudo-class--hover, $font-variant__pseudo-class--hover-suffix),
    ('&:active', $font-variant__pseudo-class--active, $font-variant__pseudo-class--active-suffix),
    ('&:focus', $font-variant__pseudo-class--focus, $font-variant__pseudo-class--focus-suffix),
);

@if $font-variant {
    @each $style in $font-variant__list {
        @include font-variant--statement-generator($style);
    }

    @each $style, $bool in $font-variant__special-case {
        @if $bool {
            @include font-variant--statement-generator($style);
        }
    }
}
