$font-family: true !default;

$font-family__list: (
    'serif': 'Times New Roman, Bodoni, Garamond, Minion Web, ITC Stone Serif, MS Georgia, Bitstream Cyberbit',
    'sans-serif': 'MS Trebuchet, ITC Avant Garde Gothic, MS Arial, MS Verdana, Univers, Futura, ITC Stone Sans, Gill Sans, Akzidenz Grotesk, Helvetica',
    'cursive': 'Caflisch Script, Adobe Poetica, Sanvito, Ex Ponto, Snell Roundhand, Zapf-Chancery',
    'fantasy': 'Alpha Geometrique, Critter, Cottonwood, FB Reactor, Studz',
    'monospace': 'Courier, MS Courier New, Prestige, Everson Mono',
) !default;

$font-family__include--inherit: true !default;
$font-family__selector-prefix: 'font-family--' !default;

$font-family__pseudo-class--hover: false !default;
$font-family__pseudo-class--hover-prefix: '--hover' !default;
$font-family__pseudo-class--active: false !default;
$font-family__pseudo-class--active-prefix: '--active' !default;
$font-family__pseudo-class--focus: false !default;
$font-family__pseudo-class--focus-prefix: '--focus' !default;
