@import 'variables';
@import 'functions';
@import 'mixins';

$font-family__special-case: (
    inherit: $font-family__include--inherit
);

$font-family__pseudo-class: (
    ('&:hover', $font-family__pseudo-class--hover, $font-family__pseudo-class--hover-suffix),
    ('&:active', $font-family__pseudo-class--active, $font-family__pseudo-class--active-suffix),
    ('&:focus', $font-family__pseudo-class--focus, $font-family__pseudo-class--focus-suffix),
);



@if $font-family {
    @each $name, $family in $font-family__list {
        @include font-family--statement-generator($name);
    }

    @each $name, $bool in $font-family__special-case {
        @if $bool {
            @include font-family--statement-generator($name);
        }
    }
}
