$font-style__special-case: (
    inherit: $font-style__include--inherit
);

@mixin font-style--statement-generator($name) {
    #{th-font-style--selector-generator($name)} {
        font-style: $name !important;
    }

    @each $pseudo-class, $bool, $suffix in $font-style__pseudo-class {
        @if $bool {
            #{th-font-style--selector-generator($name, $suffix)} {
                #{$pseudo-class} {
                    font-style: $name !important;
                }
            }
        }
    }
}

@mixin font-style--extend($name) {
    @extend #{th-font-style--selector-line-generator('%', $name)};
}
