$font-style: true !default;

$font-style__list: (normal, italic, oblique) !default;

$font-style__include--inherit: true !default;
$font-style__selector-prefix: 'font-style--' !default;


$font-style__pseudo-class--hover: false !default;
$font-style__pseudo-class--hover-suffix: '--hover' !default;
$font-style__pseudo-class--active: false !default;
$font-style__pseudo-class--active-suffix: '--active' !default;
$font-style__pseudo-class--focus: false !default;
$font-style__pseudo-class--focus-suffix: '--focus' !default;
