$text-decoration: true !default;

$text-decoration__list: (none, underline, overline, line-through) !default;

$text-decoration__include--inherit: true !default;
$text-decoration__selector-prefix: 'text-decoration--' !default;

$text-decoration__pseudo-class--hover: false !default;
$text-decoration__pseudo-class--hover-suffix: '--hover' !default;
$text-decoration__pseudo-class--active: false !default;
$text-decoration__pseudo-class--active-suffix: '--active' !default;
$text-decoration__pseudo-class--focus: false !default;
$text-decoration__pseudo-class--focus-suffix: '--focus' !default;
