@import 'functions';
@import 'mixins';

$text-decoration__special-case: (
    inherit: $text-decoration__include--inherit
);

$text-decoration__pseudo-class: (
    ('&:hover', $text-decoration__pseudo-class--hover, $text-decoration__pseudo-class--hover-suffix),
    ('&:active', $text-decoration__pseudo-class--active, $text-decoration__pseudo-class--active-suffix),
    ('&:focus', $text-decoration__pseudo-class--focus, $text-decoration__pseudo-class--focus-suffix),
);

@if $text-decoration {
    @each $style in $text-decoration__list {
        @include text-decoration--statement-generator($style);
    }

    @each $style, $bool in $text-decoration__special-case {
        @if $bool {
            @include text-decoration--statement-generator($style);
        }
    }
}
